@model StoreDetailsChangePasswordViewModel;
@{
    ViewBag.Title = "Change Password";
}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Change Password</a></li>
                    
                </ol>
            </nav><br /><br />

            
            <form method="post" enctype="multipart/form-data" asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="CurrentPassword"></label>
                    </div>
                    <div class="form-group col-md-5">
                        <input asp-for="CurrentPassword" class="form-control" placeholder="Enter Current Password.." />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                   
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="NewPassword"></label>
                    </div>
                    <div class="form-group col-md-5">
                         
                            <input asp-for="NewPassword"  class="form-control" placeholder="Enter New Password.." />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="ConfirmPassword"></label>
                    </div>
                    <div class="form-check col-md-5">
                        <input asp-for="ConfirmPassword" id="password" class="form-control" placeholder="Enter Confirm Password.." />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                   
                </div>


                <div class="form-group">

                    <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Update</button>


                    @*<a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>*@
                    <label id="divMessage"></label>
                    <br />
                    <br />
                    <br />

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
