
@using Microsoft.AspNetCore.Identity
@inject SignInManager<appFoodDelivery.Entity.ApplicationUser> SignInManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - appFoodDelivery</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.css" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="jquery.datetimepicker.css" />*@
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@
    @*<script src="jquery.datetimepicker.js"></script>*@


    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
    @*<link rel="stylesheet" href="/resources/demos/style.css">*@
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    @*<script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>*@

</head>
<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo"><img src="~/images/text.gif" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <partial name="_LoginPartial" />
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    @*@if (User.IsInRole(SD.Role_Admin) && User.IsInRole(SD.Role_Employee))*@
                    @if (User.IsInRole(SD.Role_Employee))
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#master" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Master</span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="master">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="productcuisine" asp-action="Index">Cuisine</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="menumaster" asp-action="test">Menu Master</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="slider" asp-action="Index">Slider</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole(SD.Role_Manager))
                    {

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Deliveryboy" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Deliveryboy</span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="Deliveryboy">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="AssignDeliveryboyToManager" asp-action="Index">Add </a></li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Collection" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Collection</span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="Collection">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="collection" asp-action="Index">Deliveryboy</a></li>

                                </ul>
                            </div>
                        </li>
                    }


                    @if (User.IsInRole(SD.Role_Admin))
                    {

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#master" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Master</span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="master">
                                <ul class="nav flex-column sub-menu">
                                    @*<li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="CreateRole"> Role</a></li>*@
                                    <li class="nav-item"><a class="nav-link" asp-controller="productcuisine" asp-action="Index">Cuisine</a></li>
                                    @*<li class="nav-item"><a class="nav-link" asp-controller="menumaster" asp-action="Index">Menu Master</a></li>*@
                                    <li class="nav-item"><a class="nav-link" asp-controller="menumaster" asp-action="test">Menu Master</a></li>


                                    @*<li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="ListUsers"> Store Owner</a></li>*@
                                    <li class="nav-item"><a class="nav-link" asp-controller="DeliveryTimeMaster" asp-action="Index"> Delivery Time Master</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="RadiusMaster" asp-action="Index"> Radius Master</a></li>

                                    <li class="nav-item"><a class="nav-link" asp-controller="CountryRegistration" asp-action="Index">Country </a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="StateRegistration" asp-action="Index">State</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="CityRegistration" asp-action="Index">City</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="slider" asp-action="Index">Slider</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Promocodes" asp-action="Index">Promo Code</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="charges" asp-action="Edit">Charges</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="versions" asp-action="Index">Version</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="distance" asp-action="Index">Deliveryboy Distance</a></li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Users" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Users  </span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="Users">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="EmployeeList" asp-route-roletype="Employee"> Employee</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="ManagerList" asp-route-roletype="Manager"> Manager</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Customer" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Restaurants  </span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="Customer">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register"> New Registration</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="StoreListDetails"> All Details</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Driver" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Delivery Boy</span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="Driver">
                                <ul class="nav flex-column sub-menu">
                                    @*<li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="CreateRole"> Role</a></li>*@
                                    <li class="nav-item"><a class="nav-link" asp-controller="driverRegistration" asp-action="Create">Add New</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="driverRegistration" asp-action="Index"> Deliveryboy List</a></li>


                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Customer1" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Customer  </span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="Customer1">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="CustomerRegistration" asp-action="Create"> New Registration</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="CustomerRegistration" asp-action="Index"> All Details</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#order" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Dispatcher  </span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="order">
                                <ul class="nav flex-column sub-menu">
                                    @*<li class="nav-item"><a class="nav-link" asp-controller="order" asp-action="index"> orders details</a></li>*@
                                    <li class="nav-item"><a class="nav-link" asp-controller="order" asp-action="test">Details</a></li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Collection" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Collection  </span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="Collection">
                                <ul class="nav flex-column sub-menu">
                                    @*<li class="nav-item"><a class="nav-link" asp-controller="order" asp-action="index"> orders details</a></li>*@

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Notification" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Notification  </span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="Notification">
                                <ul class="nav flex-column sub-menu">
                                    @*<li class="nav-item"><a class="nav-link" asp-controller="order" asp-action="index"> orders details</a></li>*@
                                    <li class="nav-item"><a class="nav-link" asp-controller="customerNotification" asp-action="Index">Customer</a></li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Payment" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Payment</span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="Payment">
                                <ul class="nav flex-column sub-menu">
                                    @*<li class="nav-item"><a class="nav-link" asp-controller="order" asp-action="index"> orders details</a></li>*@
                                    <li class="nav-item"><a class="nav-link" asp-controller="Payment" asp-action="deliveryboypaymentIndex">Deliveryboy</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Payment" asp-action="storepaymentIndex">Store</a></li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Report" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Report  </span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="Report">
                                <ul class="nav flex-column sub-menu">
                                    @*<li class="nav-item"><a class="nav-link" asp-controller="order" asp-action="index"> orders details</a></li>*@
                                    <li class="nav-item"><a class="nav-link" asp-controller="Reportdetails" asp-action="Index">Order Details</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Reportdetails" asp-action="orderHistoryReport">Daily Details</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Reportdetails" asp-action="HotelEarningReport">Hotel Earning</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Reportdetails" asp-action="collectionReport">Collection Details</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Reportdetails" asp-action="deliveryboySalary">Deliveryboy Salary</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Reportdetails" asp-action="StorePayment">Store Payment</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Reportdetails" asp-action="hotelWiseDetails">Storewise Details</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Reportdetails" asp-action="deliveryboyWiseDetails">Deliveryboy Details</a></li>


                                    @*<li class="nav-item"><a class="nav-link" asp-controller="Reportdetails" asp-action="CreateDocument">Test</a></li>*@

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Feedback" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Feedback  </span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="Feedback">
                                <ul class="nav flex-column sub-menu">

                                    <li class="nav-item"><a class="nav-link" asp-controller="Feedback" asp-action="customerTodeliveryboyFeedback">customer To deliveryboy </a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Feedback" asp-action="customerToStoreFeedback">customer To Store </a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Feedback" asp-action="deliveryboyCustomerFeedback">deliveryboy to Customer </a></li>

                                </ul>
                            </div>
                        </li>
                    }
                    @*@if (SignInManager.IsSignedIn(User) && User.IsInRole("Store"))*@
                    @*@if (User.IsInRole(SD.Role_Admin)&& User.IsInRole(SD.Role_Store))*@
                    @if (User.IsInRole(SD.Role_Store))
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#master1" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Master  </span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="master1">
                                <ul class="nav flex-column sub-menu">

                                    <li class="nav-item"><a class="nav-link" asp-controller="product" asp-action="Index">Menu</a></li>
                                    @*<li class="nav-item"><a class="nav-link" asp-controller="storedetails" asp-action="ownerprofile">Owner Profile Details
                                        </a></li>*@

                                    <li class="nav-item"><a class="nav-link" asp-controller="storedetails" asp-action="EditStoreProfile">Edit Owner Details</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="storedetails" asp-action="ChangePassword">Change Password</a></li>

                                    @*<li class="nav-item"><a class="nav-link" asp-controller="storedetails" asp-action="Services"> Select Service</a></li>
                                        <li class="nav-item"><a class="nav-link" asp-controller="storedetails" asp-action="StoreDetails"> Store Details</a></li>
                                        <li class="nav-item"><a class="nav-link" asp-controller="storedetails" asp-action="Documentation"> Documentation</a></li>*@
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#store" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Store Registration Details  </span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="store">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="storedetails" asp-action="ContactPersonDetails"> Contact Person Details</a></li>
                                    @*<li class="nav-item"><a class="nav-link" asp-controller="storedetails" asp-action="Services"> Select Service</a></li>*@
                                    <li class="nav-item"><a class="nav-link" asp-controller="storedetails" asp-action="StoreDetails"> Store Details</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="storedetails" asp-action="Documentation"> Documentation</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#order" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Dispatcher  </span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="order">
                                <ul class="nav flex-column sub-menu">
                                    @*<li class="nav-item"><a class="nav-link" asp-controller="order" asp-action="index"> orders details</a></li>*@
                                    <li class="nav-item"><a class="nav-link" asp-controller="order" asp-action="test">Details</a></li>

                                </ul>
                            </div>
                        </li>

                        //productcuisine


                    }


                    @*<li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#store" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Store Owner  </span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="store">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="StoreOwner" asp-action="Create"> New Registration</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="StoreOwner" asp-action="Index"> All Details</a></li>
                                </ul>
                            </div>
                        </li>*@

                </ul>
            </nav>
            <div class="main-panel">
                <partial name="_CookieConsentPartial" />
                <div class="content-wrapper">
                    <partial name="_Notification" />
                    @RenderBody()
                </div>
                <footer class="footer">
                    <p>Food Delivery @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@</p>
                </footer>
            </div>
        </div>
    </div>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">appFoodDelivery</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - appFoodDelivery - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/timepicker/bootstrap-timepicker.js"></script>

    @*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>*@
 

    @RenderSection("Scripts", required: false)
</body>
</html>

